<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  <link rel="icon" href="/images/favicon.ico">
  <title>Scores</title>
</head>
<body>
<div class="wrapper" style="width: 70%">
  <h1>Games results 'Codebreaker'</h1>
  <table class="table table-borderless" style="font-family:sans-serif; color: midnightblue">
    <thead>
    <tr>
      <th class="table-dark" style="text-align: center" scope="col">#</th>
        <% unless scores.nil? then scores[0].each do |key,_value| %>
          <th class="table-dark" scope="col"><%= key %></th>
      <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr> <% unless scores.nil? then scores.each_with_index do |value,index| %> </tr>
          <% color = COLOR_TABLE_ROWS.sample%>
        <th class="table-dark" style="text-align: center" scope="row"><%= index+1 %></th>
        <% value.each do |_key,value| %>
          <td class="<%=color%>"><%= value %></td>
        <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <a class="btn btn-info" href="/" role="button">Home Page</a>
</div>
</body>
</html>